* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Montreal Book';
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background: #363636;
}

#percent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 150px;
    mix-blend-mode: difference;
}

#bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

#bar__confirm {
    width: 0%;
    height: 100vh;
    background: #000000;
}
