* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Montreal Bold';
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;

    background: #000000;
}

#percent {
    position: absolute;
    top: -30%;
    right: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    color: white;
    font-size: 14.5em;
    mix-blend-mode: difference;
}

#bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

#bar__confirm {
    width: 0%;
    height: 100vh;

    background: #242424;
}

.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

    text-align: left;
    font-family: 'Montreal Book';
    font-size: 15px;
    text-transform: uppercase;
}

/* Mobile */
@media only screen and (max-width: 767px) {
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Desktop */
@media only screen and (min-width: 1024px) {
}
