@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montreal Book';
    src:
        url('/assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
        url('/assets/fonts/PPNeueMontreal-Book.woff') format('woff');
}
@font-face {
    font-family: 'Montreal Bold';
    src:
        url('/assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
        url('/assets/fonts/PPNeueMontreal-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Montreal Italic';
    src:
        url('/assets/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
        url('/assets/fonts/PPNeueMontreal-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Montreal Medium';
    src:
        url('/assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('/assets/fonts/PPNeueMontreal-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Montreal SemiBolditalic';
    src:
        url('/assets/fonts/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
        url('/assets/fonts/PPNeueMontreal-SemiBolditalic.woff') format('woff');
}
@font-face {
    font-family: 'Montreal Thin';
    src:
        url('/assets/fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
        url('/assets/fonts/PPNeueMontreal-Thin.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    font-family: sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
    font-size: 16px;

    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
