@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montreal Book';
    src: url('src/assets/fonts/PPNeueMontreal-Book.otf') format('truetype');
}
@font-face {
    font-family: 'Montreal Bold';
    src: url('src/assets/fonts/PPNeueMontreal-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Montreal Italic';
    src: url('src/assets/fonts/PPNeueMontreal-Italic.otf') format('truetype');
}
@font-face {
    font-family: 'Montreal Medium';
    src: url('src/assets/fonts/PPNeueMontreal-Medium.otf') format('truetype');
}
@font-face {
    font-family: 'Montreal SemiBolditalic';
    src: url('src/assets/fonts/PPNeueMontreal-SemiBolditalic.otf')
        format('truetype');
}
@font-face {
    font-family: 'Montreal Thin';
    src: url('src/assets/fonts/PPNeueMontreal-Thin.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
